# 16/09/2025

In [1]:
ingresos = 1000
gastos = 100
beneficios = ingresos - gastos

In [2]:
print(ingresos)
print(gastos)
print("Los beneficios han sido de:")
print(beneficios)

1000
100
Los beneficios han sido de:
900

In [3]:
mes = "junio"
print("Los beneficios de %s han sido %s millones" %(mes,beneficios))

Los beneficios de junio han sido 900 millones

In [4]:
print("los beneficios de %s han sido %s millones" %(beneficios,mes))

los beneficios de 900 han sido junio millones

In [5]:
mes = "agosto"
print("Los beneficios de" , mes , "han sido", beneficios, "millones")

Los beneficios de agosto han sido 900 millones

In [8]:
# Comentario de lines
# print("esto lo ignora")

print("Esto sí lo ejecutará")

Esto sí lo ejecutará

In [9]:
print("Fin del programa") # Esta línea indica que hemos terminado

Fin del programa

In [13]:
'''
Comentario multilinea
Puedo usar varias líneas sin repetir el #
print("no se va a ejecutar")
'''

print("este sí")

este sí

## Flujos de ejecución

In [14]:
ventas_jun_jul = ventas_junio + ventas_julio
ventas_junio = 100
ventas_julio = 150

NameError: name 'ventas_junio' is not defined

In [15]:
ventas_junio = 100
ventas_julio = 150
ventas_jun_jul = ventas_junio + ventas_julio

In [17]:
print("Las ventas de junio a julio son", ventas_jun_jul)

Las ventas de junio a julio son 250

In [19]:
altura = 1.80; peso = 75
print(altura, peso)

1.8 75

In [20]:
x,y,z = 12,23,45

In [21]:
x = 12
y = 23 
z = 45

## Del (borrar variables)

In [22]:
altura = 1,85
del altura

In [23]:
print(altura)

NameError: name 'altura' is not defined

# Tipos de Datos

## Numérico

In [24]:
numero = 22
type(numero)

int

In [25]:
numero_real = 22.0
print(type(numero_real))

<class 'float'>

In [26]:
numero_real_decimales = 22.45123
type(numero_real_decimales)

float

In [30]:
print("Sumas y restas")
print(1 + 2)
print(1.0 + 2) # fijate que cuando sumo float con int devuelve un float
print(1.0 - 2) #siempre que opero float e int dará float como tipo de resultado

Sumas y restas
3
3.0
-1.0

In [35]:
print("Mult y divisiones")
print(2 * 2)
print(2.0 * 2)
print(2 / 2) #El tipo de resultado de una división siempre es float

Mult y divisiones
4
4.0
1.0

In [38]:
print("Resto división")
print(10/3)
print(int(10/3)) # No redondea
print(10 % 3)
print(10 // 3)

Resto división
3.3333333333333335
3
1
3

In [41]:
n = 45678910
print("¿Es" , n, "par'")
resto = n%2
print("El resto es", resto)
if resto == 0:
    print("Es par")
else: 
    print("Es impar")

¿Es 45678910 par'
El resto es 0
Es par

## Strings

In [44]:
# Con comillas dobles
cadena = "Esto es una variable de tipo string"

# Con comillas simples
cadena_2 = 'Esto es una variable de tipo tring en comillas simples'
print(cadena)
print(cadena_2)

Esto es una variable de tipo string
Esto es una variable de tipo tring en comillas simples

In [47]:
print("String con 'Simples'")
# O al reves
print("String con \'Simples o dobles\"")

String con 'Simples'
String con 'Simples o dobles"

In [49]:
print("Primera linea\nSegunda lines\n\tTercera linea, tabulada")
# \n Bajar línea y \t tabularla

Primera linea
Segunda lines
	Tercera linea, tabulada

In [52]:
mi_string = "Primera linea\nSegunda linea\n\tTercera linea , tabulada"
print(mi_string)

Primera linea
Segunda linea
	Tercera linea , tabulada

In [55]:
nombre = "Antonio"
apellido = "Scott"
nombre_apellido= nombre + " " + apellido
print(nombre_apellido)

Antonio Scott

## Booleano

In [57]:
True

True

In [58]:
False

False

In [59]:
dinerito = 5
dinerito >= 15

False

In [61]:
dinerito = 15 
cond_1 = dinerito >= 15
print(cond_1)

True