# Conversión tipos

In [3]:
num_real = 24.69
print(type(num_real))

num_entero = int(num_real)
print(num_entero)
print(type(num_entero))

<class 'float'>
24
<class 'int'>

In [6]:
num_real = 24.686
num_redondeado = round(num_real,2)
print(num_redondeado)

24.69

In [8]:
num_convertido = round(num_redondeado,0)
print(num_convertido)
print(type(num_convertido))
print(int(num_convertido))

25.0
<class 'float'>
25

### De número a String

In [9]:
num_real = 24.69
num_entero = 12

real_str = str(num_real)
entero_str = str(num_entero)

print(real_str, "su tipo", type(real_str))
print(entero_str, "su tipo", type(entero_str))

24.69 su tipo <class 'str'>
12 su tipo <class 'str'>

### De String a un número

In [14]:
mi_cadena = "98"
mi_entero = int(mi_cadena)
print(mi_cadena, type(mi_cadena))
print(mi_entero, type(mi_entero))
mi_cadena_real = "98,33"
mi_real = float(mi_cadena_real)

98 <class 'str'>
98 <class 'int'>

ValueError: could not convert string to float: '98,33'

In [15]:
mi_cadena = "98"
mi_entero = int(mi_cadena)
print(mi_cadena, type(mi_cadena))
print(mi_entero, type(mi_entero))
mi_cadena_real = "98.64"
mi_real = float(mi_cadena_real)
print(mi_real, type(mi_real))

98 <class 'str'>
98 <class 'int'>
98.64 <class 'float'>

### De número a boleado y viceversa

In [17]:
booleano = bool(123)
print(booleano, type(booleano))

True <class 'bool'>

In [18]:
booleano = bool(0)
print(booleano, type(booleano))

False <class 'bool'>

### De String a booleano

In [19]:
booleano = bool("")
booleano_2 = bool("Esto es otro tipo par la conversión")
print(booleano, type(booleano))
print(booleano_2, type(booleano))

False <class 'bool'>
True <class 'bool'>

#### y viceversa

In [20]:
bool_str = str(booleano)
bool_2_str = str(booleano_2)
print(bool_str, bool_2_str)

False True

In [3]:
real_str = "68,34"
real = float(real_str)

ValueError: could not convert string to float: '68,34'

In [4]:
real_str.replace(",",".")

'68.34'

In [6]:
nuevo_str = real_str.replace(",",".")
print(type(nuevo_str))

<class 'str'>

In [8]:
real = float(nuevo_str)
print(real, type(real))

68.34 <class 'float'>

## Input

In [9]:
primer_input = input("Escribeme algo")

Escribeme algo 98

In [10]:
print(primer_input)

98

In [11]:
type(primer_input)

str

In [13]:
nombre = input("¿Cómo te llamas?")
print("Encantado de conocerte", nombre)
preferencias = input("¿Como estas?")
print("Bien y tu")

¿Cómo te llamas? Carlos

Encantado de conocerte Carlos

¿Como estas? mal

Bien y tu

### None

In [14]:
print(none)

NameError: name 'none' is not defined

In [16]:
"" == None

False

In [17]:
0 == None

False

In [18]:
False == None

False

# Zen of Phyton

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!